.main_page {
  .main {
    padding: 0;
  }

  &-wrapper {
    flex-grow: 1;
    height: 100vh;
    width: 100vw;
    @include mMax {
      height: fill-available;
    }
  }

  &-bg {
    display: block;
    width: 100%;
    height: 100%;

    object-position: center;
    object-fit: cover;

    @include mMax {
      min-height: fill-available;
    }
  }

  .header {
    background: rgba(39, 39, 39, 0.8);
    border: none;

    .header-basket {
      color: #fff;
      span:nth-child(1) {
        @include mMax {
          background: center/auto url(../img/white_basket.svg) no-repeat;
        }
      }
    }

    .header-tabs {
      margin: 0 auto;

      a {
        color: #fff;

        &:before {
          background-color: #fff;
        }
      }
    }
  }

  .footer {
    position: absolute;
    background: rgba(39, 39, 39, 0.8);
    border: none;

    .footer-menu a {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
