@import 'partials/common/reset.css';
@import 'partials/common/jquery.fancybox.min.css';
@import 'partials/common/slick.scss';
@import 'partials/common/mixin';

// МОИ СТИЛИ
@import 'partials/common/vars.scss';
@import 'partials/common/commonStyles.scss';
@import 'partials/footer/footer.scss';
@import 'partials/header/header.scss';
