.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  background-color: #fff;

  @include mMax {
    height: 48px;
    border: none;
  }

  &-burger {
    width: 16px;
    display: none;

    img {
      display: block;
      width: 100%;
    }

    @include mMax {
      display: block;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mMax {
      width: calc(100% - 32px);
      margin: 0 auto;
    }
  }

  &-logo {
    display: block;
    width: 209px;

    img {
      display: block;
      width: 100%;
    }

    @include mMax {
      width: 129px;
      margin: 0 auto;
    }
  }

  &-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    @include mMax {
      display: none;
    }

    li {
      margin: 0 20px;

      a {
        position: relative;
        display: block;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        opacity: 0.8;
        text-decoration: none;
        transition: opacity 0.2s linear;

        &:before {
          content: '';
          position: absolute;
          bottom: -4px;
          right: 0;
          left: 0;
          transition: transform 0.2s linear, opacity 0.2s linear;
          height: 2px;
          background-color: #000;
          opacity: 0;
          transform: scaleX(0);
          transform-origin: center;
        }

        &:hover,
        &.is-active {
          opacity: 1;

          &:before {
            opacity: 1;
            transform: scaleX(1);
          }
        }
      }
    }
  }

  &-basket {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    opacity: 0.8;
    transition: opacity 0.2s linear;

    &:hover {
      opacity: 1;
    }

    &-wrapper {
      display: block;
      width: 208px;
      text-align: right;

      @include tMax {
        width: auto;
      }
    }

    @include mMax {
      font-size: 12px;
      line-height: 14px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      span {
        &:nth-child(1) {
          display: block;
          margin-right: 3px;
          font-size: 0;
          width: 14px;
          height: 16px;
          background: center / auto url(../img/black_basket.svg) no-repeat;
        }
      }
    }
  }

  &-menu {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -999;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s linear;
    height: -webkit-fill-available;

    &.is-active {
      opacity: 1;
      z-index: 999;
    }

    .card-modal-close {
      top: 25px;
      right: 20px;
      position: absolute;
      width: 20px;
      height: 20px;
    }

    .header-tabs {
      display: block;
      margin: auto;

      a {
        width: max-content;
        margin: 0 auto;
      }

      li + li {
        margin-top: 40px;
      }
    }
  }
}

.emerge_basket {
  position: relative;
  z-index: 2;
  width: 354px;
  max-width: 100%;
  margin-top: 33px;
  margin-right: 40px;
  margin-left: auto;
  background-color: #fff;

  @include mMax {
    margin-right: 0;
    margin-top: 0;
    width: 100%;
  }

  &-texts {
    text-align: left;
  }

  &-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -999;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.2s linear;
    height: -webkit-fill-available;

    &.is-active {
      opacity: 1;
      z-index: 999;
    }
  }

  &-overlay {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  &-heading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    height: 30px;
    width: 100%;
  }

  &-close {
    position: absolute;
    width: 16px;
    height: 16px;
    cursor: pointer;
    left: 16px;
    top: 7px;
    display: none;

    @include mMax {
      display: block;
    }
  }

  &-content {
    box-sizing: border-box;
    padding: 16px;

    &-title {
      margin: 16px 0;
      text-align: center;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #000000;
      display: none;

      &.is-active {
        display: block;
      }
    }
  }

  &-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 16px;

    img {
      display: block;
      margin-right: 16px;
      width: 96px;
      height: 130px;
      object-fit: cover;
      object-position: center;
    }

    h2 {
      display: block;
      font-weight: 800;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #000000;
    }

    p {
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #000000;
    }

    span {
      display: block;
      margin-top: 12px;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #000000;

      b {
        font-weight: inherit;
        font-family: sans-serif;
      }
    }

    &_close {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      margin-left: auto;
      cursor: pointer;
      background: #000000;
      border: 1px solid #000000;
      flex-shrink: 0;
    }
  }

  &-pays {
    box-sizing: border-box;
    padding: 24px 0;
    text-align: center;
    border-top: 1px solid #c4c4c4;

    h2 {
      display: block;
      margin-bottom: 24px;
      font-weight: 800;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #000000;

      b {
        font-family: sans-serif;
        font-weight: inherit;
      }
    }

    .button {
      width: 100%;
      max-width: 306px;
      margin: 0 auto;
    }

    &.is-active {
      padding: 24px 0 8px;

      h2 {
        margin-bottom: 0;
      }

      .button {
        display: none;
      }
    }
  }
}
